
//@import "public/ontario-design-system/styles/sass/variables/colours.variables.scss";
//@import "public/ontario-design-system/styles/components/application-header/application-header.scss";

@import "public/ontario-design-system/styles/components/default-header/default-header.scss";
@import "public/ontario-design-system/styles/components/ontario-header/ontario-header.scss";



.ODSContainer{
    color: $ontario-colour-alert;
}
.header{
color: $ontario-colour-alert;
background-color: $ontario-colour-alert;
}

.warningTop{
    background-color: $ontario-colour-warning;
}



