
@import "public/ontario-design-system/styles/sass/variables/colours.variables.scss";


.ODSContainer{
    color: $ontario-colour-alert;
}
.header{
color: $ontario-colour-alert;
background-color: $ontario-colour-alert;
}

.warningTop{
    background-color: $ontario-colour-warning;
}



